<!-- Footer -->
<footer class="bg-light text-center text-dark">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="Email address..."/>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>
    <section class="footer-links">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CỘNG ĐỒNG</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Chương trình tích điểm</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Diễn đàn</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Mạng xã hội</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Video</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Đội game</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Chia sẻ từ khách hàng</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">HỖ TRỢ</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Tải xuống</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Trung tâm thành viên</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Chăm sóc khách hàng trực tuyến</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Địa chỉ trung tâm bảo hành</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Bảo hành</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">TIN TỨC</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Tin tức</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Giải thưởng</a>
            </li>
            <li>
              <a href="#!" class="text-dark">RSS</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">TRUYỀN THÔNG</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Brorchure</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Hình nền</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Ứng dụng của MSI</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">VỀ MSI</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Tầm nhìn của MSI</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Mission And Vision</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Giới thiệu</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="huyhieu.tokyo">Nguyễn Phan Huy Hiếu</a>
  </div>
  <!-- Copyright -->
</footer>