<div class="container p-0">
    <nav class="header">
        <div class="logo">
            <a href="/">
                <img src="https://storage-asset.msi.com/frontend/imgs/logo.png" alt="">
            </a>
        </div>
        <div class="nav-bar ms-2">
            <div class="nav-item">
                <a href="/product">SẢN PHẨM</a>
            </div>
            <div class="nav-item">
                <a href="/solution">GIẢI PHÁP ODM</a>
            </div>
            <div class="nav-item">
                <a href="/news">CÓ GÌ MỚI</a>
            </div>
            <div class="nav-item">
                <a href="/support">HỖ TRỢ</a>
            </div>
        </div>
        <div class="button-group d-flex">
            <div class="button-item">
                <a href="/login">
                    <i class="far fa-user"></i>
                </a>
            </div>
            <div class="button-item">
                <i class="far fa-map-marker-alt"></i>
            </div>
            <div class="button-item">
                <i class="far fa-search"></i>
            </div>
        </div>
    </nav>
</div>