<div class="home-page">
  <div class="slide-bar">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://storage-asset.msi.com/vn/picture/banner/banner_16462996408cd595226b0cb2a03504dc951cc7bc3a.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://storage-asset.msi.com/global/picture/banner/banner_1645175043317838783ce3a36451da05b434878fe8.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://storage-asset.msi.com/global/picture/banner/banner_1645768812e98d6f93572f0a382a1bd24fc4feec5b.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="products d-flex">
    <div class="product-links p-1">
      <div class="text-products mt-5">
        <h3>MEG Z690 UNIFY</h3>
        <p>The World Record Breaker</p>
      </div>
      <a href="">
        <img
          src="https://storage-asset.msi.com/global/picture/banner/banner_1638864260bb5ea9133ec5f213ee4df9bc4fa2e653.jpeg"
          alt=""
          class="img-fluid"
        />
      </a>
    </div>
    <div class="product-links p-1">
      <div class="text-products mt-5">
        <h3>GeForce RTX™ 3090 GAMING X TRIO 24G</h3>
        <p>Play Hard, Stay Silent</p>
      </div>
      <a href="">
        <img
          src="https://storage-asset.msi.com/global/picture/banner/banner_15991136025f5089828b81b.jpg"
          alt=""
          class="img-fluid"
        />
      </a>
    </div>
  </div>
</div>
<div class="banner">
  <a href="" class="pt-1">
    <img
      src="https://storage-asset.msi.com/global/picture/banner/banner_1646210861b51a95c426a272c7eb45b088e2cc88f7.jpeg"
      alt=""
      class="img-fluid"
    />
  </a>
</div>
<div class="service row">
  <a href="" class="col-lg-6 service-link p-1">
    <div class="service-head">
      <img
        class="service-icon"
        src="https://storage-asset.msi.com/frontend/imgs/icon_poductRegistration.svg"
        alt="Product Registration Icon"
        loading="lazy"
      />
      <h3 class="service__title">Đăng kí sản phẩm</h3>
      <p class="service__description">Để tận hưởng các tiện ích, chương trình
        khuyến mãi và sự kiện</p>
    </div>
    <img
      src="https://storage-asset.msi.com/frontend/imgs/product_registration.jpg"
      alt=""
      class="img-fluid"
    />
  </a>
  <a href="" class="col-lg-6 service-link p-1">
    <div class="service-head">
      <img
        class="service-icon"
        src="https://storage-asset.msi.com/frontend/imgs/icon_support.svg"
        alt="Service Icon"
        loading="lazy"
      />
      <h3 class="service__title">Hỗ trợ</h3>
      <p class="service__description">Dịch vụ tùy biến đặc biệt dành cho bạn.</p>
    </div>
    <img
      src="https://storage-asset.msi.com/frontend/imgs/support_service_location.jpg"
      alt=""
      class="img-fluid"
    />
  </a>
</div>
<div class="related row">
  <a class="col-lg-3 related-link p-1" href="https://forum-en.msi.com/index.php"><h3
      class="related__title"
    >Diễn đàn MSI</h3><img
      class="related__image img-fluid"
      src="https://storage-asset.msi.com/frontend/imgs/forum.jpg"
      alt="MSI Forums"
      loading="lazy"
    /></a>
  <a class="col-lg-3 related-link p-1" href="https://forum-en.msi.com/index.php"><h3
      class="related__title"
    >Chuơng trình tích điểm thưởng MSI</h3><img
      class="related__image img-fluid"
      src="https://storage-asset.msi.com/frontend/imgs/reward.jpg"
      alt="MSI Forums"
      loading="lazy"
    /></a>
  <a class="col-lg-3 related-link p-1" href="https://forum-en.msi.com/index.php"><h3
      class="related__title"
    >Video</h3><img
      class="related__image img-fluid"
      src="https://storage-asset.msi.com/frontend/imgs/video.jpg"
      alt="MSI Forums"
      loading="lazy"
    /></a>
  <a class="col-lg-3 related-link p-1" href="https://forum-en.msi.com/index.php"><h3
      class="related__title"
    >MSI Insider</h3><img
      class="related__image img-fluid"
      src="https://storage-asset.msi.com/frontend/imgs/insider.jpg"
      alt="MSI Forums"
      loading="lazy"
    /></a>
</div>